.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  /* Add 1.5rem padding on left and right for container */
  .blog .page-width-desktop.page-width-tablet {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  /* Force 2-column grid layout for blog posts */
  .blog__posts.articles-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  
  /* Override the base .grid column-gap to get our custom gap working */
  .blog__posts.articles-wrapper.grid {
    column-gap: 16px !important;
    row-gap: 16px !important;
  }

  .blog__post.article {
    width: 100% !important;
    margin: 0 !important;
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

/* Featured blog specific styling */
.blog .card__heading {
  font-weight: 600 !important;
}

.blog .full-unstyled-link {
  font-weight: 600 !important;
}
